.card {
    transition: transform 0.5s;
    cursor: pointer;
}

.card__front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__flipped {
    transform: rotateY(180deg);
}

.card__back img,
.card__front img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
